body{
    background-image: url("../../assets/images/shopImage.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.main-header{
    text-shadow: 3px 3px white;
    color: black;
    font-size: 3rem;
}

.main-header:hover{
    color: green;
    font-size: 2.5rem;
}

*{
    margin-top: 0px;
    margin-left: 0px;
}

.MainButton{

    background-color:peachpuff;
    border: solid black 5px;
    border-radius:50%;
    padding: 4%;
    color:black;
    font-size: 2.5em;
    /* text-shadow: 2px 2px #FF0000; */
    text-decoration: none;

}

.MainButton:hover{
    border: solid green 5px;
    color: green;
}